@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 32, 44;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 26, 32, 44;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.callout-note {
  @apply p-4 my-4 bg-blue-100 border-l-4 border-blue-500;
}

.callout-tip {
  @apply p-4 my-4 bg-green-100 border-l-4 border-green-500;
}

.callout-warning {
  @apply p-4 my-4 bg-yellow-100 border-l-4 border-yellow-500;
}

.callout {
  @apply text-base font-normal;
}

.callout p {
  @apply mb-2 last:mb-0;
}