@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 51; /* dark navy */
}

.light {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Default dark mode styles */
body {
  @apply bg-dark-navy text-white;
}

/* Light mode styles */
body.light {
  @apply bg-white text-black;
}